{% extends 'home/header.html' %}
{% load static %}
<!-- this template belong to perparim -->
{% block content %}

<div class="row container">

    <div class="col s12 m12 l12 xl12 center ">
      <div class="card white black-text">
        <div class="card-content ">
          <span class="card-title">Account deleting</span>
            <p>Are you sure you want to delete your account ?</p>
            <form action="{% url 'customer:delete_account_from_customer' customer.id %}" method="post" onsubmit="myButton.disabled=true;return true;">
                {% csrf_token %}

                <div class="card-action">
                    <input type="submit" value="Confirm" class="btn white black-text waves-effect waves-green" name="myButton">
                    <a href="{% url 'customer:user_settings' customer.id %}" class="btn white black-text waves-effect waves-red">Cancel</a>
                </div>

            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}