{% extends 'home/header.html' %}
{% load static %}
<!-- this template belong to adam -->
{% block content %}

<div class="row container">
    <div class="col s12 m12 l12 xl12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <h3 class="center">Password reset sent</h3>
          <h5>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5>
          <h5>If you don't receive an email, please make sure you've entered the adress you registered with, and check your spam folder.</h5>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
