{% extends 'home/header.html' %}
{% load static %}
<!-- this template belong to adam -->
{% block content %}

<div class="row container">
    <div class="col s12 m12 l12 xl12">
      <div class="card white darken-1">
        <div class="card-content black-text">
            <h3 class="center">Password reset</h3>
            <h5>Forgetten your password ? Enter your email address below, and we'll email
            instructions for setting a new one.</h5>
            <br>

            <form method="post" onsubmit="myButton.disabled=true;return true;" class="underline_for_modelform_text">

                {% csrf_token %}
                {{password_reset_form}}

                <div class="card-action center">
                    <input type="Submit" value="Confirm" name="myButton" class="btn white black-text waves-effect waves-green">
                </div>

            </form>
        </div>
      </div>
    </div>
</div>

{% endblock content %}