<!-- this template belong to perparim -->

<h3>Dear, {{username}}</h3>

<p>Welcome to 44location,</p>

<p>With your new account you will be able to make reservation demand by yourself and have a personal history of your reservations.</p>

<p>If you want to update or cancel a reservation you can use the buttons aside them, be advise that you can't modify or cancel a reservation 24hours before the location date, if you are willing to do so you have to contact the admin directly at this mail : test@hotmail.com or at this number : 933 33 33</p>

<p>We thank you for having joined us and we wish you to enjoy driving ours cars ! </p>

<p>Best regards, <br> Team 44Locations</p>
